@font-face {
    font-family: Titulo;
    src: url(fontes/ANODETONOONE.TTF);
}

h1 {
    font-family: Titulo;
    font-size: 40px;
    color: #603a03;
}

body {
    background-image: url(imgs/fundo.jpg);
}

#container {
    width: 950px;
    height: auto;
    position: relative;
    margin: auto;
}

#fundo-game {
    width: 950px;
    height: 630px;
    background-image: url(imgs/fundo_game.jpg);
    border: solid #fff;
}

#jogador {
    width: 256px;
    height: 66px;
    position: absolute;
    left: 8px;
    top: 179px;
    background-image: url(imgs/apache.png);
}

#inimigo1 {
    width: 256px;
    height: 66px;
    position: absolute;
    left: 689px;
    top: 253px;
    background-image: url(imgs/inimigo1.png);
}

#inimigo2 {
    width: 165px;
    height: 70px;
    position: absolute;
    left: 775px;
    top: 447px;
    background-image: url(imgs/inimigo2.png);
}

#amigo {
    width: 44px;
    height: 51px;
    position: absolute;
    left: 10px;
    top: 464px;
    background-image: url(imgs/amigo.png);
}

#inicio {
    width: 350px;
    height: 200px;
    background-color: #fff;
    margin: 100px auto;
    text-align: center;
    padding: 10px;
}

.anima-jogador {
    background-image: url(imgs/apache.png);
    animation: play-helicoptero .1s steps(2) infinite;
}

.anima-inimigo1 {
    background-image: url(imgs/inimigo1.png);
    animation: play-helicoptero .1s steps(2) infinite;
}

.anima-amigo {
    background-image: url(imgs/amigo.png);
    animation: play-amigo 1s steps(12) infinite;
}

@keyframes play-helicoptero {
    from {background-position: 0px;}
    to {background-position: -512px;}
}

@keyframes play-amigo {
    from {background-position: 0px;}
    to {background-position: -528px;}
}